<div class="form">
  <div id="introduction" class="hidden">
    <h1>Welcome!</h1>
    <hr>
    <p>
      Click the top left gear button to<br>
      choose a preset. For further instructions<br>
      click the top right question mark button.<br>
      <br>
      Made by Ricardo Antunes.<br>
    </p>
    <button id="submit">Okay</button>
  </div>
  <div id="selector" class="hidden">
    <h1>Select a preset</h1>
    <hr>
    <div class="switch">
      <button id="empty">Empty</button>
      <button id="planets">Planets</button>
      <button id="moons">Moons</button>
      <button id="binary">Binary</button>
      <button id="customSimple">Custom simple</button>
      <button id="customBinary">Custom binary</button>
    </div>
    <button id="cancel">Cancel</button>
    <button id="submit">Okay</button>
  </div>
  <div id="customSimple" class="hidden">
    <h1>Custom simple system</h1>
    <hr>
    <include src="src/partials/slider.html" locals='{"id": "starMass", "text": "Star mass"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyCount", "text": "Body count"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyMass", "text": "Bodies mass"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyMassSpread", "text": "Bodies mass spread"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyDistance", "text": "Bodies distance"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyDistanceSpread", "text": "Bodies distance spread"}'>
    </include>
    <button id="cancel">Cancel</button>
    <button id="submit">Okay</button>
  </div>
  <div id="customBinary" class="hidden">
    <h1>Custom binary system</h1>
    <hr>
    <include src="src/partials/slider.html" locals='{"id": "starsMass", "text": "Stars mass"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "starsDistance", "text": "Stars distance"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyCount", "text": "Body count"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyMass", "text": "Bodies mass"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyMassSpread", "text": "Bodies mass spread"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyDistance", "text": "Bodies distance"}'></include>
    <include src="src/partials/slider.html" locals='{"id": "bodyDistanceSpread", "text": "Bodies distance spread"}'>
    </include>
    <button id="cancel">Cancel</button>
    <button id="submit">Okay</button>
  </div>
</div>
