<div class="overlay">
  <div class="start">
    <button id="resetButton"><i class="fas fa-trash"></i></button>
    <button id="settingsButton"><i class="fas fa-cog"></i></button>
    <button id="bodyAdderToggle"><i class="fas fa-plus"></i></button>
    <button id="bodyRemoverToggle"><i class="fas fa-minus"></i></button>
    <button id="cameraMoverToggle"><i class="fas fa-arrows-alt"></i></button>
    <include src="src/partials/slider.html" locals='{"id": "bodyMass", "text": "Body Mass"}'></include>
  </div>
  <div class="end">
    <button><i class="fas fa-question"></i></button>
    <button id="zoomInButton"><i class="fas fa-search-plus"></i></button>
    <button id="zoomOutButton"><i class="fas fa-search-minus"></i></button>
    <include src="src/partials/slider.html" locals='{"id": "simulationSpeed", "text": "Simulation Speed"}'></include>
  </div>
</div>
